# all of these will be installed via conda
numpy
scipy
pandas
statsmodels
ipython
jupyterlab
matplotlib
seaborn
scikit-learn
# the rest will be installed with pip
git+https://github.com/scikit-optimize/scikit-optimize.git
mlxtend
